NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_WHATSAPP_NUMBER=923239660617
NEXT_PUBLIC_FACEBOOK_URL=https://facebook.com/yourpage
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/rahiq_bakes
NEXT_PUBLIC_CONTACT_EMAIL=ibrarulhasan424@gmail.com
NEXT_PUBLIC_ORDER_EMAIL=ibrarulhasan424@gmail.com
WEB3FORMS_ACCESS_KEY=your-web3forms-access-key
NEXT_PUBLIC_MAP_EMBED_URL=https://www.google.com/maps/embed?pb=YOUR_EMBED_ID
NEXT_PUBLIC_BANK_NAME=Your Bank Name
NEXT_PUBLIC_BANK_ACCOUNT_TITLE=RahiQBakes
NEXT_PUBLIC_BANK_ACCOUNT_NUMBER=0000000000
NEXT_PUBLIC_BANK_IBAN=PK00XXXX0000000000000000
